<div class="header">
  <h1>FoodBook</h1>
  <p></p>
</div>

<div class="topnav">
  <a href="http://localhost:2340">Home</a>
  <a href="http://localhost:2340/recipes">Recipes</a>
  <a href="#"></a>
</div>