<figure>
  <blockquote class="blockquote">
    <p>"No rules. Don't be afraid to do whatever you want. Cooking doesn't have to have rules. I don't like it that way." </p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Iron Chef<cite title="Source Title"> Masaharu Morimoto</cite>
  </figcaption>
</figure>
