<div class="row">
  <div class="column">
    <h2>Welcome!</h2>
    <p>Please feel free to touch the recipes button on the header to see all the delicious recipes....not much else here so why not?</p>
  </div>