{{#each data}}
  <div class="row">
    <div class="column">
      <h2>{{this.name}}</h2>
      <p>"Ingredients:"{{this.ingredients}}</p>
      <p>"Directions:"{{this.directions}}</p>
  </div>
</div>
  {{/each}}